body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
h2{
    color: #222222;
    font-size: 40px;
    font-weight: bold;
    margin: 60px 10px 15px 10px;
    text-align: center;
}
h4{
    color: #777777;
    font-size: 20px;
    font-weight: normal;
    margin: 15px;
    text-align: center;
}
h5{
    font-size: 18px;
}
p{
    font-size: 14px;
    color: #777777;
    max-width: 300px;
    line-height: 160%;
}

.nav {
    height: 115px;
    background-color: #ffffff;
    display: inline;
}



ul {
    list-style: none;
    padding: 40px 80px 40px 0;
    margin: 0;
}
li a{
    margin-right: 35px;
    color: #777777;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    display: inline;
    float: right;
}
.logo {
    margin-left: 80px;
    padding-top: 25px;
    font-weight: bold;
    padding-left: 5px;
    float: left;
    display: flex;
    align-items: center;
}
.logo img{
    margin-right: 10px;
}
.logo h1 {
    display: inline;
    font-size: 18px;
    color: #555555;
    margin-top: 0;
    margin-bottom: 0;
}
.hero {
    color: #ffffff;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    background-image: url("img/hero.jpg");
    background-size: 100% 100%;
    height: 100%;
    padding: 100px 0 100px 0;

}
.hero h4{
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    font-size: 20px;
    text-align: center;
}
#btn-green{
    background-color: #7cc576;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 16px;
    height: 60px;
    width: 200px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}
#btn-green:hover{
    color: #7cc576;;
    background-color: white;
    transition: all .5s ease 0s;
    
    
}
.services {
    text-align: center;
}
.icons {
    margin: 50px 140px 50px 140px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.icon {
    padding: 0 25px 20px 25px;
}

.relax{
    display: flex;
}
.relax-left{
    background-image: url("img/relax-left2.png");
    background-size: cover;
    height: 590px;
    width: 30%;
}

.relax-right{
    background-image: url("img/relax-stones.png");
    background-size: cover;
    width: 70%;
    color: white;
    padding-left: 60px;
    padding-top: 20px;
}
.relax-right h2{
    color: white;
    text-align: left;
    margin-top: 20px !important;
    
}

.relax-right p{
     font-family: 'Roboto Slab', serif;
     font-size: 16px;
     color: #a8a7a8;
     line-height: 1.8;
     width: 550px;
 }

.relax-right ul{
    margin-top: 10px;
    padding-top: 0;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: #a8a7a8;
    line-height: 2.3;
    width: 530px;
}

.relax-right li i{
    font-size: 35px;
    font-weight: 100;
    position: relative;
    top: 5px;
}
.latest{
    display: flex;
}
.latest p.link{
    margin-left: 88px;
}
.latest-left{
    width: 50%;
    height: 650px;
    margin-left: 120px;
    margin-top: 50px;
}
.latest-left img{
    position: relative;
    top: 50px;
}
.latest-left h5{
    margin-left: 15px;
    margin-bottom: 20px;
    display: inline;
}
.latest-left p{
margin-top: 2px;
}
.latest-left ul{
    padding: 10px;
}
a.link{
    color: #7cc576;
    text-decoration: none;
    font-weight: bold;
    display: inherit;
    margin-top: 10px;
}

.latest-right{
     background-image: url("img/tablet.png");
    background-size: cover;
    height: 650px;
    width: 50%;
}
.culture-values{
    text-align: center;
}
.culture{
    text-align: center;
}
.clients{
    text-align: center;
}
.clients p{
    text-align: center;
}
.quote.right{
float: right;
    margin-right: 250px;
    text-align: center;
}
.quote.left{
float: left;
    margin-left: 250px;
    margin-top: 100px;
    text-align: center;
}
.quote p{
    width: 380px;
    font-weight: bold;
}
.quote p.caption{
    width: 380px;
    color: #7cc576;
    font-weight: bold;
}
.contact-us{
    background-color: #7cc576;
    text-align: center;
    padding-bottom: 40px;
}
.contact-us h2{
    padding-top: 50px;
    color: white;
}
button.btn-contact{
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #7cc576;
    font-size: 18px;
    padding: 10px 20px 8px 20px;
    margin-top: 10px;
    cursor: pointer;
}
.btn-contact:hover{
    background-color: white;
    color: #7cc576;
    transition: all .5s ease 0s;
}
.logos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px auto;
}
.footer{
    background-color: #222222;
    color: white;
    padding-bottom: 20px;
}
.footer a{
    color: white;
    text-decoration: none;
}
.footer a:hover{
    color: #7cc576;
}

.footer .row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}
.contact{
margin-left: auto;
    margin-right: auto;
}
.contact .lol img{
    top: 5px;
    left: 0;
    float: left;
    display: inline-block;
    margin-right: 5px;
}
.contact .lol p{
    left: 20px;
    padding-left: 15px;
    color: white;
    margin-bottom: 0;
    font-size: 14px;
}

p.hash{
    margin-left: 30px;
    font-weight: bold;
    margin-top: 4px;
}
p.time{
       margin-left: 30px;
    font-size: 8px;
    margin-top: 4px;
}
.socials{
      padding-top: 20px; 
}

.socials .foot-row-socials{
    display: flex;
    justify-content: center;
}
.social-link{
    background-color: #222222;
  border-radius: 90px;
  height: 40px;
  width: 40px;
  margin-left: 10px;
  margin-right: 10px;
    transition: all .5s ease 0s;
}
.social-link:hover{
    transition: all .5s ease 0s;
}
.social-link-twitter:hover {
  background-color: #00aced; }
.social-link-facebook:hover {
  background-color: #3b5998; }
.social-link-pinterest:hover {
  background-color: #cb2028; }
.social-link-google:hover {
  background-color: #da2713; }

.socials span{
    font-size: 10px;
}
.socials img{
padding: 10px;
}








/*TABLET*/

@media screen and (max-width: 800px){

    
/*
    li a{
        float: none;
    }
*/
    
    .nav-item {
		width:100%;
		float:none;
	}
    
      .nav-mobile {
  cursor:pointer;
  position:absolute;
  top:20px;
  right:20px;
  background: url("img/menu1.png") no-repeat center center;
  height:40px;
  width:40px;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
          display: block;
  }
    ul.nav-list{
        display: none;
    }
.relax-left{
    background-image: url("img/relax-left-sm.png");
    }
.relax-right p{
  max-width: 230px;      
}
    .relax-right{
        width: 83%;
        padding-top: 20px;
    }
    .relax-right ul{
        padding-bottom: 15px;
    }
    .relax-right h2{
        margin-top: 0;
    }
    
    .latest-right{
    display: none;
}
        .contact h5{
        text-align: center;
    }

    .latest-left{
        margin-left: 10px;
        margin-top: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
 .latest-left img{
        top: 0 !important;
        align-self: center;
        display: block;
        margin: 10px auto;
    }
    .latest-left h5{
        text-align: center;
        display: inline-block;
        margin-bottom: 15px;
        display: block;
    }
    .latest-left p{
        text-align: center;
        width: 100%;
        margin-left: 0;
    }
    .latest-left p.link{
        margin-left: 0;
    }
        div.culture h2{
        margin-top: 300px;
    }
}






/*MOBILE*/

@media screen and (max-width: 400px){
    .hero{
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
    h4{
        font-size: 18px !important;
    }
    h5{
        font-size: 15px !important;
    }
    p {
        font-size: 14px !important;
    }
    .relax-left{
    display: none;
    }
    .relax-right{
        width: 83%;
        padding-top: 20px;
    }
    .relax-right ul{
        padding-bottom: 15px;
    }
    .relax-right h2{
        margin-top: 0;
    }
    .latest-left{
        margin-left: 10px;
        margin-top: 0;
        width: 100%;
    }
    .latest p.link{
    margin-left: 10px;
        margin-right: 10px;
}
    .culture-values{
        margin-top: 30px !important;
    }
    
}